body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  text-align: center;
  padding-top: 30px;
  margin: 0 auto;
  width: 300px;

}

h1 {
  font-size: 2em;
  text-align: left;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.baku {
  background-image: url('../images/baku.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 200px;
  padding: 20px;
  margin: 10px;
  float: left;
}

.london {
  background-image: url('../images/london.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 200px;
  padding: 20px;
  margin: 10px;
  float: left;
}

.madrid {
  background-image: url('../images/madrid.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 200px;
  padding: 20px;
  margin: 10px;
  float: left;
}

.rome {
  background-image: url('../images/rome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 200px;
  padding: 20px;
  margin: 10px;
  float: left;
}

@media screen and (min-width: 575px) {
  .container {
    width: 100%;
  }
  .baku {
    width: 30%;
    margin-bottom: 10px;
  }
  .london {
    width: 30%;
    margin-bottom: 10px;
  }
  .madrid {
    width: 30%;
    margin-bottom: 10px;
  }
  .rome {
    width: 30%;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 65%;
  }
  .baku {
    width: 15%;
    margin-bottom: 10px;
  }
  .london {
    width: 15%;
    margin-bottom: 10px;
  }
  .madrid {
    width: 15%;
    margin-bottom: 10px;
  }
  .rome {
    width: 15%;
    margin-bottom: 10px;
  }
}
